.home{
    height: 400px;
    width: 400px;
    line-height: 400px;
    text-align:center;
    margin: 50px auto;
    border: 1px solid #f00;
    background-image: url(../image/ç¬‘1.jpg);
}
image{
    height: 400px;
    width: 400px;
}